@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
*{
    font-family: 'Patrick Hand', cursive;
}
body{
    background-color: rgb(144, 241, 241);
}

h1,h2{
    text-align: left;
    letter-spacing: 4px;
    font-weight: bolder;
    text-transform:uppercase;
}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-right: 50px;
    position: sticky;
    width: 100%;
    top: 0;
    background-color: rgb(144, 241, 241);
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color:white;
    padding: 50px;
    background-image: url("../lab5/imagens/cabecalho.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
    margin-bottom: 50px;
    max-width: 100%;
}

.botao{
    background-color: white;
    border-color:black;
    border-style: solid; 
    padding: 15px;
}

.botao:hover {
    animation-duration: 3s;
    visibility: visible;
    background-color: white;
    border-radius: 8px;
}
.menu{
    box-shadow: 5px 5px 15px #888888;
    word-spacing: 3px;
    font-size:large;
    line-height: normal;
    background: white;
    width: 550px;
    height:130px;
    padding: 25px;
    border-color: rgb(0, 10, 66);
    border-style: solid;
}
.repositorios{ 
    padding: 25px;
}

a{
    text-decoration: none;
    color: black;
}
.foto{
    box-shadow: 5px 5px 15px #888888;
}
footer{
    border-radius: 10px;
    background: white;
    height: 360px;
    width: 300px;
    padding: 20px;
    border-color: rgb(0, 10, 66);
    border-style: solid;
    margin: auto;
    margin-bottom: 50px;
}
.nome{
    text-align: center;
}

aside{
    grid-area: aside;
}

nav{
    grid-area: nav;
}

.wordcloud{
    box-shadow: 5px 5px 15px #888888;
    animation-name: moverLado;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes moverLado {
    from {width: 300px}
    to {width:400px}
}

@media(min-width:601px){
    .conteudos{
        display: grid;
        grid-template-areas:
        'nav aside'
    }
}

@media(max-width:600px){ 
    .conteudos{
        display: grid;
        grid-template-areas:
        'nav'
        'aside'
    }
    .hero{
        max-width: 100%;
    }
} 

.rodape{
    height: 8vh;
    background: white;
    color:black;
}

.rodape p{
    font-size: 1em;
    padding: 20px;
    text-align: center;
}