@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
*{
    font-family: 'Patrick Hand', cursive;
}
body{
    background-color: rgb(144, 241, 241);
}

h1,h2{
    text-align: left;
    letter-spacing: 4px;
    font-weight: bolder;
    text-transform:uppercase;
}

.menu{
    word-spacing: 3px;
    font-size:large;
    line-height: normal;
    background: white;
    width: 550px;
    height:100px;
    padding: 25px;
    border-color: rgb(0, 10, 66);
    border-style: solid;
}

a{
    text-decoration: none;
    color: black;
}

footer{
    background: white;
    height: auto;
    width: 300px;
    padding: 20px;
    border-color: rgb(0, 10, 66);
    border-style: solid;
    margin: auto;
}
.nome{
    text-align: center;
}

aside{
    grid-area: aside;
}

nav{
    grid-area: nav;
}

@media(min-width:601px){
    .conteudos{
        display: grid;
        grid-template-areas:
        'nav aside'
    }
}

@media(max-width:600px){ 
    .conteudos{
        display: grid;
        grid-template-areas:
        'nav'
        'aside'
    }
} 