
        *{
            font-family: 'Patrick Hand', cursive;
        }
        *{
            box-sizing: border-box;
        }
        .capitais{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: space-around;
            background-color: rgb(238, 248, 248);
            padding: 50px;
        }

        .capitais > div{
            display: flex;
            justify-content: space-around;
            border-radius: 20px;
            box-shadow: 5px 5px 15px #888888;
            margin: 10px;
        }

        .capitais img{
            border-radius: 20px 0 0 20px;
            height: 100%;
        }

        .capitais div div:last-child{
            width: 150px;
            background-color: white;
            padding: 20px;
            border-radius: 0 20px 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .cabecalho{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            color:white;
            padding: 50px 0;
            background-image: url("../lab4/imagens/fundo.jpg");
            background-size: cover;
        }
        .links{
            display: flex;
        }
        .menu a:last-child{
            margin-left: auto;
        }

        a{
            padding: 20px;
            text-decoration: none;
            color: black;
        }
        a:hover{
            color: #888888;
            font-weight: bold
        }
