
    @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

        *{
            box-sizing: border-box;
            font-family: 'Patrick Hand', cursive;
        }
        body{
            margin: 0;
        }

        .capitais{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: space-around;
            background-color: rgb(238, 248, 248);
            padding: 50px;
        }

        .capitais > div{
            display: flex;
            justify-content: space-around;
            border-radius: 20px;
            box-shadow: 5px 5px 15px #888888;
            margin: 10px;
        }

        .capitais img{
            border-radius: 20px 0 0 20px;
            height: 100%;
        }

        .capitais div div:last-child{
            width: 150px;
            background-color: white;
            padding: 20px;
            border-radius: 0 20px 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .menu{
            display: flex;
            position: fixed;
            background-color:  rgb(238, 248, 248);
            width: 100%;
            z-index: 2;
        }
        .menu a:last-child{
            margin-left: auto;
        }

        a{
            padding: 20px;
            text-decoration: none;
            color: black;
        }

        a:hover{
            color: #888888;
            font-weight: bold
        }

        .cabecalho{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            color:white;
            padding: 50px;
            background-image: url("../lab5/imagens/cabecalho.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            height: 90vh;
        }

        .dicas div{
            width: auto;
            height: auto;
            border-radius: 20px 20px 20px 20px;
            padding: 10px 20px;
            background-color: white;
            margin: 10px;
            justify-content: space-between;
            box-shadow: 5px 5px 15px #888888;
        }

        .dicas{
            display: flex;
            flex-direction: column;
            background-color: rgb(238, 248, 248);
        }


        .destinos{
            display: grid;
            background-color: rgb(238, 248, 248);
            padding: 10px;
            color: white;
            font-family: 'League Gothic', sans-serif;
        }

        .algarve{
            background-image: url("../lab4/imagens/algarve.png");
            background-size: cover;
            grid-area: algarve;
        }

        .madeira{
            background-image: url("../lab4/imagens/madeira.jpg");
            background-size: cover;
            grid-area: madeira;
        }

        .porto{
            background-image: url("../lab4/imagens/Porto.jpg");
            background-size: cover;
            grid-area: porto;
        }

        .lisboa{
            background-image: url("../lab4/imagens/lisboa.jpg");
            background-size: cover;
            grid-area: lisboa;
        }

        .acores{
            background-image: url("../lab4/imagens/acores.png");
            background-size: cover;
            grid-area: acores;
        }

        .campismo{
            grid-area: campismo;
            background-size: cover;
            background-color: white;
            color: black;
        }

        @media(min-width : 901px){
            .destinos{
                gap: 20px;
                grid-template-areas:
                'algarve madeira porto campismo'
                'acores acores lisboa campismo';
            }
        }

        @media(max-width : 900px){
            .destinos{
                gap: 20px;
                grid-template-areas:
                'algarve madeira'
                'porto lisboa'
                'acores acores'
                'campismo campismo';
            }
            .destinos > div{
                min-height: 500px;
                background-size: cover;
            }
        }

        .static{
            position: static;
        }
        .relative{
            position: relative;

        }
        .absolute{
            position: absolute;
        }

         div h3{
            margin: 10px;
            bottom: 50px;
        }
        
        .destinos div p{
            margin: 10px;
            bottom:0;
        }

        .paragrafo,.botao,.tenda{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .paragrafo{
            text-align: justify;
        }

        .hero{
            display: grid;
            grid-template-rows: 10% 1fr;
            grid-template-columns: 1fr;
            height: 100%;
            top: 0;
        }

        .parallax {
            background-image: url("../lab5/imagens/parallax.jpg");
            min-height: 600px; 
            max-width: 100%;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .parallax2{
            background-image: url("../lab5/imagens/parallax2.jpg");
            max-width: 100%;
            min-height: 600px; 
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 30px;
        }

        .fotos{
            display: grid;
            margin: 0 10vw;
            margin-bottom: 100px;
        }

        .fotos > div{
            position: relative;
        }

        .fotos > div p{
            position: absolute;
            bottom: 0;
            visibility: hidden;
        }

        .fotos div:hover p{
            animation-duration: 3s;
            visibility: visible;
            background-color: white;
            border-radius: 8px;
        }

        .fotos div:hover{
            opacity: 0.5;
        }

        .foto1{
            grid-area: foto1;
        }
        .foto2{
            grid-area: foto2;
        }
        .foto3{
            grid-area: foto3;
        }
        .foto4{
            grid-area: foto4;
        }
        .foto5{
            grid-area: foto5;
        }
        .foto6{
            grid-area: foto6;
        }
        .foto7{
            grid-area: foto7;
        }
        .foto8{
            grid-area: foto8;
        }
        .foto9{
            grid-area: foto9;
        }
        .foto10{
            grid-area: foto10;
        }
        .foto11{
            grid-area: foto11;
        }
        .foto12{
            grid-area: foto12;
        }

        
        @media(min-width : 901px){
            .fotos {
                grid-template-areas:
                'foto1 foto2  foto3'
                'foto4 foto5  foto6'
                'foto7 foto8  foto9'
                'foto10 foto11  foto12';
              }
        }

        @media(max-width : 900px){
            .fotos{
                grid-template-areas:
                'foto1 foto2'
                'foto3 foto4'
                'foto5 foto6'
                'foto7 foto8'
                'foto9 foto10'
                'foto11 foto12';
            }
        }

        @media(max-width : 600px){
            .fotos {
                grid-template-areas:
                'foto1' 
                'foto2'
                'foto3' 
                'foto4'
                'foto5' 
                'foto6'
                'foto7' 
                'foto8'
                'foto9' 
                'foto10'
                'foto11' 
                'foto12';
              }
        }
        
        .animacoes{
            display: grid;
            margin: 0 25vw;
            padding-bottom: 50px;
        }

        @keyframes roda {
            from {transform: rotate(0deg);}
            to {transform: rotate(360deg);}
        }

        @keyframes roda-encolhe {
            0% {transform: rotate(0deg); width: 200px;}
            50% {transform: rotate(180deg);  width: 100px;}
            100% {transform: rotate(360deg);  width: 200px;}
        }

        @keyframes gira {
            from {transform: rotate(360deg);}
            to {transform: rotate(0deg);}
        }

        @keyframes gira-encolhe {
            0% {transform: rotate(0deg); width: 200px;}
            50% {transform: rotate(180deg);  width: 100px;}
            100% {transform: rotate(360deg);  width: 200px;}
        }

        @keyframes moverLado {
            from {width: 300px}
            to {width:400px}
        }

        @keyframes moverAltura {
            from {height : 200px}
            to {height: 250px}
        }

        .animacao1 img {
            grid-area: animacao1;
            border-radius: 50%;  
            animation-name: roda;  
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear; 
        }
        .animacao2 img{
            grid-area: animacao2; 
            animation-name: gira;  
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear; 
        }
        .animacao3 img {
            grid-area: animacao3;
            animation-name: moverLado;
            animation-duration: 4s;
            animation-iteration-count: infinite;
        }
        .animacao4 img{
            grid-area: animacao4;
            animation-name: moverAltura;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }

        @media(min-width : 901px){
            .animacoes{
                gap: 80px;
                grid-template-areas:
                'animacao1 animacao2'
                'animacao3 animacao4';
            }
        }

        @media(max-width : 900px){
            .animacoes{
                gap: 40px;
                grid-template-areas:
                'animacao1 animacao2'
                'animacao3 animacao4';
            }
        }

        @media(max-width : 900px){
            .parallax, .parallax2 , .cabecalho{
                background-size: cover;
            }
        }